<footer>
    <p>Lucie Simatovic</p>
</footer>

<aside id="formUpdate"></aside>
<!--  -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- 
<script type="module" src="../api.mjs"></script> -->