<main id="admin" role="main">
    <!-- <section>

        <h2>Ajouter un article</h2>

        <form action="/articles/save" method="POST">
            <label for="title">titre :</label>
            <input type="text" name="title" id="title" />

            <label for="description">Description:</label>

            <textarea id="description" name="description">

</textarea>
            <label for="date">Date :</label>
            <input type="date" name="date" id="date" />


            <input type="submit" value="send" />
        </form>
    </section> -->

    <div class="container">

        <div class="d-grid gap-2">
            <a href="/categorie">
                <button class="btn btn-lg btn-primary" type="button">

                    Catégories</button>
            </a>
            <a href="/article/new">
                <button class="btn btn-lg btn-primary" type="button">Articles +</button>
            </a>
        </div>
    </div>
    <!--   
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Titre</th>
                <th scope="col">Catégorie</th>
                <th scope="col">Date</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
            </tr>
        </thead>
        <tbody>

            <tr class="table-dark">
                <th scope="row">Dark</th>
                <th scope="row">Blabla</th>
                <th scope="row">Date</th>
                <td><i class="fa-solid fa-pen-to-square"></i></td>
                <td><i class="fa-solid fa-trash-can"></i></td>
            </tr>

            <tr class="table-dark">
                <th scope="row">Dark</th>
                <th scope="row">Blabla</th>
                <th scope="row">Date</th>
                <td><i class="fa-solid fa-pen-to-square"></i></td>
                <td><i class="fa-solid fa-trash-can"></i></td>
            </tr>

            <tr class="table-dark">
                <th scope="row">Dark</th>
                <th scope="row">Blabla</th>
                <th scope="row">Date</th>
                <td><i class="fa-solid fa-pen-to-square"></i></td>
                <td><i class="fa-solid fa-trash-can"></i></td>
            </tr>

            <tr class="table-dark">
                <th scope="row">Dark</th>
                <th scope="row">Blabla</th>
                <th scope="row">Date</th>
                <td><i class="fa-solid fa-pen-to-square"></i></td>
                <td><i class="fa-solid fa-trash-can"></i></td>
            </tr>

            <tr class="table-dark">
                <th scope="row">Dark</th>
                <th scope="row">Blabla</th>
                <th scope="row">Date</th>
                <td><i class="fa-solid fa-pen-to-square"></i></td>
                <td><i class="fa-solid fa-trash-can"></i></td>
            </tr>

            <tr class="table-dark">
                <th scope="row">Dark</th>
                <th scope="row">Blabla</th>
                <th scope="row">Date</th>
                <td><i class="fa-solid fa-pen-to-square"></i></td>
                <td><i class="fa-solid fa-trash-can"></i></td>
            </tr>

            <tr class="table-dark">
                <th scope="row">Dark</th>
                <th scope="row">Blabla</th>
                <th scope="row">Date</th>
                <td><i class="fa-solid fa-pen-to-square"></i></td>
                <td><i class="fa-solid fa-trash-can"></i></td>
            </tr>

            <tr class="table-dark">
                <th scope="row">Dark</th>
                <th scope="row">Blabla</th>
                <th scope="row">Date</th>
                <td><i class="fa-solid fa-pen-to-square"></i></td>
                <td><i class="fa-solid fa-trash-can"></i></td>
            </tr>
        </tbody>
    </table> -->


</main>