

<main class="container">
    <div class="kittenCtn">
        <h2><%= article.title %></h2>
        <p><%= article.description %></p>
        <p><%= article.date %></p>
        <!-- <img src="../images/<%= article.picture %>" alt=""/> -->
    </div>

    <button>Accéder au quizz</button>
</main>