

<main class="container">
    <div class="kittenCtn">
        <h2><%= article.name %></h2>
        <p><%= article.age %></p>
        <p><%= article.dispo %></p>
        <img src="../images/<%= article.picture %>" alt=""/>
    </div>
</main>