<div class="container">
  
  <main class="container">

    <div class="p-5 p-md-5 mb-4 text-white rounded bg-dark jumbotron jumbotron-fluid">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Mon blog</h1>
        <p class="lead my-3">Présentation blablabla.</p>

      </div>
    </div>

  
    <div class="row ">
      <div class="col-md-8 row">
        <h3 class="pb-4 mb-4 fst-italic border-bottom">
          Quelques articles
        </h3>

        <% for (const { index, title, description, date, picture } of articles) { %>

          <article class="card col-lg-5 m-2 p-0">
            <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
            <div class="card-body">
              <strong class="d-inline-block mb-2 text-primary">Categorie</strong>
              <h5 class="card-title"><%= title %></h5>
              <div class="mb-1 text-muted"><%= date %></div>
              <p class="card-text"><%= description %></p>
             <a href="" class="btn btn-outline-success btn-sm">Read More</a>
             <span id="delete" data-id="<%= index %>"><i class="fas fa-trash"></i></span>

              <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
            </div>
          </article>
          <%}%>
  
      </div>
  
      <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
          <div class="p-4 mb-3 bg-light rounded">
            <h4 class="fst-italic">About</h4>
            <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
          </div>
  
          <div class="p-4">
            <h4 class="fst-italic">Catégories</h4>
            <ol class="list-unstyled mb-0">
              <li><a href="#">Php</a></li>
              <li><a href="#">Js</a></li>
              <li><a href="#">Css</a></li>
            </ol>
          </div>
  

        </div>
      </div>
    </div>
  
  </main>

  
<aside id="formUpdate"></aside>
<!--  -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script type="module" src="../api.mjs"></script>
