<h1>Nouvelle catégorie</h1>

<form action="/categorie/save" method="POST">
    <label for="label">Nom :</label>
    <input type="text" name="label" id="label" />

    <input type="submit" value="send" />
</form>