

<main id="connect" role="main">

    <form action="/auth/register" method="post">
        <legend>Register</legend>
        <label for="alias">
            <input type="text" name="alias" id="alias" placeholder="your name" aria-placeholder="your name">
        </label>
        <label for="pwd">
            <input type="password" name="pwd" id="pwd" placeholder="your password" aria-placeholder="your password" autocomplete="off">
        </label>

        <input type="submit" value="send">

    </form>
    <a href="/auth/login">->Or login<-</a>


</main>